*,
::after,
::before {
    box-sizing: border-box;
}
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
@font-face {
    font-family: "MetricHPE";
    src: local("MetricHPE"),
        url(../fonts/MetricHPE-Web-Regular.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Regular.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPEThin";
    src: local("MetricHPEThin"),
        url(../fonts/MetricHPE-Web-Thin.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Thin.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPEBlack";
    src: local("MetricHPEBlack"),
        url(../fonts/MetricHPE-Web-Black.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Black.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPEMedium";
    src: local("MetricHPEMedium"),
        url(../fonts/MetricHPE-Web-Medium.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Medium.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPESemibold";
    src: local("MetricHPESemibold"),
        url(../fonts/MetricHPE-Web-Semibold.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Semibold.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPELight";
    src: local("MetricHPELight"),
        url(../fonts/MetricHPE-Web-Light.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Light.eot) format("OpenType");
}

@font-face {
    font-family: "MetricHPEBold";
    src: local("MetricHPEBold"),
        url(../fonts/MetricHPE-Web-Bold.woff) format("woff"),
        url(../fonts/MetricHPE-Web-Bold.eot) format("OpenType");
}

:root {
    /* COLORS  */
    /* primary */
    --primary-0: #f0efff;
    --primary-50: #d8d6ff;
    --primary-100: #c1beff;
    --primary-200: #aaa5ff;
    --primary-300: #938dff;
    --primary-400: #7b74ff;
    /* main */
    --primary-500: #00b287;
    --primary-600: #554ed9;
    --primary-700: #4640b3;
    --primary-800: #37338c;
    --primary-900: #282566;
    --primary-1000: #191740;
    --primary-1100: #0a0919;
    /* grey */
    --grey-0: #fafbfc;
    --grey-50: #f2f4f8;
    --grey-100: #eaedf3;
    --grey-200: #e2e7ef;
    --grey-300: #dbe0ea;
    --grey-400: #d3dae6;
    --grey-500: #cbd3e1;
    --grey-600: #adb3bf;
    --grey-700: #8e949e;
    --grey-800: #70747c;
    --grey-900: #51545a;
    --grey-1000: #333538;
    --grey-1100: #141516;

/* dark shades of primary color*/
    --clr-primary-1: hsl(21, 91%, 17%);
    --clr-primary-2: hsl(21, 84%, 25%);
    --clr-primary-3: hsl(21, 81%, 29%);
    --clr-primary-4: hsl(21, 77%, 34%);
    /* primary/main color */
    /* --clr-primary-5: hsl(21, 62%, 45%); */

    /* lighter shades of primary color */
    --clr-primary-6: hsl(21, 57%, 50%);
    --clr-primary-7: hsl(21, 65%, 59%);
    --clr-primary-8: hsl(21, 80%, 74%);
    /* --clr-primary-9: hsl(21, 94%, 87%); */
    --clr-primary-10: hsl(21, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;

    /* rest */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    /* box shadows */
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    /* typography */
    --defaultFontSize: 87.5%;
    --headingFont: Inter,sans-serif;
    --bodyFont: "MetricHPE";
    --smallText: 0.8em;
    --extraSmallText: 0.7em;
    /* rest */
    --backgroundColor: var(--grey-0);
    --textColor: #000000;
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 2520px;
    --fixed-width: 600px;
    --spacing: 0.2rem;

    /*team */
    --transitionteam: all 0.3s linear;
    --clr-primary-9: hsl(185, 94%, 87%);
    --clr-white: #ffffff;
    --radius: 0.25rem;
    --clr-primary-5: hsl(167, 45%, 59%);
}

html {
    font-size: var(--defaultFontSize);
}

@media only screen and (min-width: 576px) {
    :root {
        --defaultFontSize: 100%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --defaultFontSize: 112.5%;
    }
}

body {
    background: var(--backgroundColor);
    color: var(--textColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
}

/* p {
    margin: 0;
    margin-bottom: 1rem;
    max-width: 40em;
} */
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    /* margin-bottom: 1.38rem; */
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}
h4 {
    font-size: 0.7rem;
    font-family: "MetricHPESemibold";
}
h5 {
        font-size: 1.4rem;
            font-family: "MetricHPESemibold";
}
 .leadername{
    text-transform: uppercase;
    color: var(--clr-primary-5);
    /* margin-bottom: 0.25rem; */
    margin-top: 2.5rem;
    /* margin-right: 730px; */
    font-family: "MetricHpeBold";
    font-size: 1.2rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

/* ul {
    padding: 0;
    list-style-type: none;
} */

a {
    text-decoration: none;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.form {
    width: 100%;
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
}

label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

input,
textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--grey-0);
    border-color: transparent;
    border: 1px solid var(--grey-300);
}

.form-row {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    height: 7rem;
}

::placeholder {
    color: var(--grey-600);
}

.form-alert {
    color: var(--red-dark);
    font-size: var(--extraSmallText);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}

/* hr {
    border-top: 1px;
} */

/* button,
.btn {
    cursor: pointer;
    appearance: none;
    color: var(--white);
    background: var(--primary-500);
    border: none;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
}

button:hover,
.btn:hover {
    color: var(--white);
    background: var(--primary-500);
    box-shadow: var(--shadow-2);
}

button.small {
    padding: 0.25rem 0.5rem;
    font-size: var(--smallText);
}

button.hipster {
    color: var(--primary-500);
    background: var(--primary-50);
    box-shadow: var(--shadow-1);
}

button.hipster:hover {
    background: var(--primary-100);
    box-shadow: var(--shadow-2);
}

button.block {
    width: 100%;
} */

/* Basic Classes */
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-success {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.alert-danger {
    color: var(--red-dark);
    background-color: var(--red-light);
}

.container {
    padding: 5rem 0;
}

.container-center {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
}

.page {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
}

.page {
    min-height: calc(100vh - (6rem + 4rem));
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    /* margin-right: 730px; */
    font-family: "MetricHpeSemibold";
}

.title-underline {
    height: 0.2rem;
    width: 7rem;
    background: var(--primary-600);
    margin: 0 auto;
}

form>*:last-child {
    margin-bottom: 0;
}

/* loading */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--clr-primary-5);
    animation: spinner 0.6s linear infinite;
}

.loading {
    margin: 0 auto;
}

/* form loading */

.form-loading {
    position: relative;
}

.form-loading::before {
    background: var(--white);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: var(--borderRadius);
    opacity: 0.8;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.form-loading::after {
    content: "";
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--clr-primary-5);
    animation: spinner 0.6s linear infinite;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f0f0f0; */
    position: fixed;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-center {
    width: 99vw;
    max-width: 2550px;
    background-color: #f0f0f0;
    margin: 0 auto;
    border-radius: var(--borderRadius);
    background: transparent;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-header {
    /* height: 6rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    width: 115px;
    margin-left: 25px;
    margin-bottom: -9px;
    height: auto;
}

.nav-btn {
    padding: 0.15rem 0.75rem;
}

.nav-btn svg {
    font-size: 1.5rem;
}

.nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transitionteam);
}

.show-links {
    height: 23.9375rem;
}

.nav-linkactive {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: #ffffff;
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transitionteam);
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav-link {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: var(--grey-1000);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transitionteam);
    max-width: var(--max-width);
    margin: 0 auto;
}

.active-link {
    color: var(--primary-500);
}

.contact-link {
    display: flex;
    justify-content: center;
}

.contact-link a {
    padding: 0.15rem 1rem;
}

  .nav-links a:hover {
      color: var(--clr-primary-5);
      box-shadow: 0px 2px var(--clr-primary-5);
  }

        .nav-links a {
            margin-right: 2rem;
            text-transform: capitalize;
            /* color: var(--clr-grey-1); */
            font-weight: bold;
            /* letter-spacing: var(--spacing); */
            transition: var(--transitionteam);
            padding: 0.3rem 0;
        }


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "MetricHpe";
}

li {
    margin-right: 0.3rem;
    font-family: "MetricHpe";
}

.dropdown {
    position: relative;
    font-family: "MetricHpe";
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    font-family: "MetricHpe";
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.dropdown-menu li {
    margin-bottom: 0rem;
    font-family: "MetricHpe";
}

.dropdown-scroll {
    color: #000;
}

a{
    color: #ffffff;
}
a:hover {
            color: var(--clr-primary-5);
            /* box-shadow: 0px 2px var(--clr-primary-5); */
}

@media screen and (min-width: 1100px) {
    .navbar {
        height: rem;
    }

    .nav-center {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
    }

    .fixed-navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1100;
    }

    .nav-header {
        padding: 0;
        margin-right: 2rem;
        height: auto;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        height: auto !important;
        flex-direction: row;
        /* align-items: center;
        width: 100%; */
    }

    .nav-linkactive a:hover {
        color: var(--clr-primary-5);
        box-shadow: 0px 2px var(--clr-primary-5);
    }

    .nav-links a {
        margin-right: 1.7rem;
        text-transform: capitalize;
        /* color: var(--clr-grey-1); */
        font-weight: bold;
        /* letter-spacing: var(--spacing); */
        transition: var(--transitionteam);
        padding: 0.5rem 0;
    }

    .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 3rem;
        font-size: 1rem;
        display: flex;
        color: #000000;
        font-family: "MetricHPE";
    }

    .nav-linkactive {
        padding: 0;
        border-top: none;
        margin-right: 3rem;
        font-size: 1rem;
        display: flex;
        color: #ffffff;
        font-family: "MetricHPE";
    }

    .contact-link {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 0;
    }
    
}

/*
===============
Footer
===============
*/
.footer {
    height: 6rem;
    background: #000000;
    text-align: center;
    display: block;
    place-items: center;
    padding-top: 2rem;
    min-width: 100%;
}

.footer h4 {
    /* margin-top: 0.5rem; */
    color: #ffffff;
    font-weight: 0.1rem;
    font-family: "MetricHPEThin";
    /* margin-bottom: 0.25rem; */
}


.footer-links {
    margin: 1 auto 1rem auto;
    padding-top: 1rem;
}

.footer .social-link {
    color: var(--clr-white);
        padding-top: 1rem;
}

.footer .social-link:hover {
    color: var(--clr-primary-5);
        padding-top: 1rem;
}

/*
/*#########*/
/* Hero */
/*#########*/

/*##########*/
/*Basic classes*/
/*##########*/

.page {
    width: 97.5vw;
    max-width: var(--max-width);
    margin: 0 auto;
}

.page {
    min-height: calc(100vh - (6rem + 4rem));
}
 /* 2nd site */

 /* section */
 .section {
     padding: 1.5rem 0;
     max-width: 900px;
     line-height: 0.5;
 }

 .section-center {
     width: 90vw;
     margin: 0 auto;
     max-width: 1000px;
    line-height: 0.5;
 }

 @media screen and (min-width: 992px) {
    .section{
        max-width: 1200px;
        max-height: 280px;
        line-height: 0.5;
        padding-bottom: 11rem;

    }
     .section-center {
         width: 60vw;
            line-height: 0.5;
     }
          /*2nd site*/
          .underline {
              width: 4rem;
              height: 0.1rem;
              margin-bottom: 1.25rem;
              background: var(--clr-primary-5);
              margin-left: auto;
              margin-right: auto;
          }

            .underlineteam {
                width: 10rem;
                height: 0.2rem;
                margin-bottom: 1.25rem;
                background: var(--clr-primary-5);
                margin-left: auto;
                margin-right: auto;
            }
    
          .section-title {
              margin-bottom: 1rem;
              text-align: center;
                line-height: 0.5;
          }
 }


/*
=============== 
Services
===============
*/
.service {
    background: var(--clr-white);
    padding: 0.3rem 0.3rem;
    margin-bottom: 6rem;
    border-radius: var(--radius);
    text-align: center;
    -webkit-transition: var(--transitionteam);
    transition: var(--transitionteam);
}

.service-icon {
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
}

.service .underline {
    width: 3rem;
    height: 0.12rem;
    -webkit-transition: var(--transitionteam);
    transition: var(--transitionteam);
}

.service p {
    -webkit-transition: var(--transitionteam);
    transition: var(--transitionteam);
    font-family: "MetricHPEBold";
    font-size: 2rem;
}

.service:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-9);
}

.service:hover p {
    color: var(--clr-primary-9);
}

.service:hover .underline {
    background: var(--clr-primary-9);
}

@media screen and (min-width: 676px) {
    .services-center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}


/*#########*/
/* Recipes */
/*#########*/
.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}

.recipe h2{
    display: block;
    font-size: 2rem;
    color: #000;
    font-family: "MetricHpeSemibold";
    justify-content: center;
}

.recipe h3 {
    /* display: block; */
    font-size: 1rem;
    color: #000;
    font-family: "MetricHpe";
}

.recipes-list {
    display: grid;
    gap: 4rem 4rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    padding-left: 11rem;
    padding-right: 10rem; 
    grid-template-columns: repeat(auto-fit, minimax(10rem, 1fr));
    grid-auto-rows: 10rem;
}

.tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    /* background: blue; */
}

.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.tags-list a {
    text-transform: capitalize;
    display: block;
    color: var(--grey-800);
    transition: var(--transition);
}

.tags-list a:hover {
    color: var(--primary-500);
}

.recipe {
    display: block;
    text-align: center;
    /* padding-left: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right:3px; */
    /* box-shadow: 0 0 10px hsl(167, 45%, 59%); */
}

.recipe-underline{
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff
}

.recipe:hover{
    transform: translateY(-20px);
}

.recipe-img {
    height: 15rem;
    border-radius: var(--borderRadius);
}

.recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: var(--textColor);
    font-weight: 600;
}

.recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-800);
    margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-img {
        height: 10rem;
    }
}

@media screen and (min-width: 992px) {
    .recipes-container {
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }

    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-img {
        height: 9rem;
    }

    .recipe p {
        font-size: 0.85rem;
    }

    .tags-container {
        order: 0;
        /* background: blue; */
    }

    .tags-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipe h5 {
        font-size: 1.15rem;
    }

    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
}

/*#########*/
/* Tags */
/*#########*/

.tags-page {
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
}

.tag {
    background: var(--grey-700);
    border-radius: var(--borderRadius);
    text-align: center;
    color: var(--white);
    transition: var(--transition);
    padding: 0.75rem 0;
}

.tag:hover {
    background: var(--primary-500);
}

.tag h5,
.tag p {
    margin-bottom: 0;
}

.tag h5 {
    font-weight: 600;
}

@media screen and (min-width: 576px) {
    .tags-page {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .tags-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* marquee */
.image_wrapper {
    margin: 0px 90px;
    /* filter: grayscale(100%); */
}

.image_wrapper img {
    width: 60%;
}

/* .image_wrapper:hover {
    filter: grayscale(0%);
} */

@media screen and (min-width: 992px) {
    .image_wrapper {
            margin: 0px 60px;
            /* filter: grayscale(100%); */
        }
    
        .image_wrapper img {
            max-width: 80px;
            max-height: 40px;
        }
    
        /* .image_wrapper:hover {
            filter: grayscale(0%);
        } */
        .marq{
            margin-bottom: 60px;
            margin-top: 50px;
        }
        .marq h2{
                    font-size: 2rem;
                        display: block;
                        text-align: center;
                        margin: 0 0 8px;
                        line-height: 0.8;
                        padding: 35px 0px;
        }
    }

/* section */
.sectionleader {
    padding: 1rem 0;
    position: relative;
    max-width: 1300px;
    height: 550px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.section-centerleader {
    width: 80vw;
    margin: 0 auto;
    max-width: 1000px;
}

@media screen and (min-width: 992px) {
    .section-centerleader {
        width: 95vw;
    }
}

/*slider */

/*
=============== 
Global Styles
===============
*/

/* *,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
} */

/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: #ffffff;
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 400;
    transition: var(--transition);
    font-size: 0.9rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-family: "MetricHpeSemibold";
}

.btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
}


.my-component.animate {
    animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/*newnav */

.hero-container {
    background: url('../images/hero.png') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin-top: -80px;
    line-height: 0.7rem;
}

.hero-pad {
    padding-bottom: 2rem;
}

.hero-container h1{
    color: #ffffff;
    font-size: 6rem;
    padding-left: 2rem;
    font-family: "MetricHpeBold";
    /* margin-top: 1rem; */
}

.hero-container h2 {
    color: #ffffff;
    font-size: 4rem;
    padding-left: 2rem;
    font-family: "MetricHpeSemibold";
    /* margin-top: 1rem; */
}

.hero-container p{
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
}

.hero-btns {
    margin-top: 0px;
    padding-left: 1.8rem;
    padding-top: 1rem;
}

@media screen and (max-width:960px){
    .hero-container h1 {
        font-size: 70px;
    }
}
 
@media screen and (max-width:768px) {
    .hero-container h1 {
        font-size: 60px;
    }

    .hero-container p {
        font-size: 30px;
    }
}


/*buttons */

.button {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    background: none;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-family: "MetricHpeSemibold";
    font-size: 1rem;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    translate: calc(100% + 4px) -50%;
    width: 45px;
    height: 45px;
    background: #00b287;
    border-radius: 50px;
    transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover::before {
    width: 100%;
    translate: -18px -50%;
    transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button i {
    margin-left: 5px;
    transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover i {
    translate: 3px 0;
}

/* Explore Button */

.expbutton {
    position: relative;
    display: flex;
    align-items: center;
    color:#00b287;
    background: none;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-family: "MetricHpeSemibold";
    font-size: 1.3rem;
    justify-content: center;
    bottom: 0;
    margin: 0 auto;
}


.expbutton i {
    margin-left: 5px;
    transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.expbutton:hover i {
    translate: 3px 0;
}
/*===============Contact Page===============*/ 
.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    font-family: "MetricHpe";
}

.contact-form {
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    width: 90vw;
    max-width: 35rem;
    font-family: "MetricHpe";
}

.contact-form:hover {
    box-shadow: var(--dark-shadow);
}

.contact-form h3 {
    padding-top: 1.25rem;
    color: var(--clr-grey-5);
}

.form-group {
    padding: 1rem 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-family: "MetricHpe";
}

.form-control::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/*card */
/* .container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-right: 10px;
} */

/*POC */

.heropoc-container {
    background: url('../images/hero.jpg') center center/cover no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-top: -80px;
    line-height: 0.7rem;
    margin-bottom: 1rem;
}


.heropoc-container h1 {
    color: #ffffff;
    font-size: 6rem;
    padding-left: 2rem;
    font-family: "MetricHpeBold";
    /* margin-top: 1rem; */
}

.heropoc-container h2 {
    color: #ffffff;
    font-size: 4rem;
    padding-left: 2rem;
    font-family: "MetricHpeSemibold";
    /* margin-top: 1rem; */
}

.heropoc-container p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
}

@media screen and (max-width:960px) {
    .heropoc-container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width:768px) {
    .heropoc-container h1 {
        font-size: 60px;
    }

    .heropoc-container p {
        font-size: 30px;
    }
}


/*IVaaS */
/*POC */

.heroivaas-container {
    background: url('../images/ivaas.png') center center/cover no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-top: -80px;
    line-height: 0.7rem;
    margin-bottom: 1rem;
}


.heroivaas-container h1 {
    color: #ffffff;
    font-size: 4rem;
    padding-left: 2rem;
    font-family: "MetricHpeBold";
    padding-bottom: 2rem;
    /* margin-top: 1rem; */
}

.heroivaas-container h2 {
    color: #ffffff;
    font-size: 4rem;
    padding-left: 2rem;
    font-family: "MetricHpeSemibold";
    /* margin-top: 1rem; */
}

.heroivaas-container p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-family: "MetricHpe";
    display: flex;
    line-height: normal;
    padding-left: 2rem;
}

@media screen and (max-width:960px) {
    .heroivaas-container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width:768px) {
    .heroivaas-container h1 {
        font-size: 60px;
    }

    .heroivaas-container p {
        font-size: 30px;
    }
}

/* Ivaascard */

.cardcontainer {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.column {
    width: 24%;
    background-color: #f2f2f2;
    /* padding: 10px; */
    margin: 5px;
    border-radius: 10px;
    height:400px;
    position: relative;
    margin-bottom: 1rem;
    z-index: 2;
}


.image {
    width: 100%;
    height: 40%;
}

.buttoncard {
    --color: hsl(167, 45%, 59%);
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: var(--color);
    padding: 5px 5px;
    border: 2.3px solid var(--color);
    font-family: "MetricHpeSemibold";
    margin-left: 5rem;
    margin-top: 1rem;
}

.cardbut {
    width: 300px;
    height: 90px;
    position: absolute;
    bottom: 0;
}

.column:hover{
     box-shadow: 5px 10px 20px 1px  rgba(0, 0, 0, 0.253) !important;
}

.column h2 {
    font-family: "MetricHpeSemiBold";
    font-size: 1.3rem !important;
    margin: 0.8rem;
}

.column p {
    font-family: "MetricHpe";
    font-size: 0.9rem !important;
    margin-inline: 1rem;
}


.buttoncard::before,
.buttoncard::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: inherit;
    transition: width .25s .15s, height .25s;
}

.buttoncard::before {
    top: -15px;
    left: -15px;
    border-width: 2px 0 0 2px;
}

.buttoncard::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 2px 2px 0;
}

.buttoncard:hover::before,
.buttoncard:hover::after {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
}

.column p {
    margin: 5px;
}


/* flipcards */

.card-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.card-main {
    height: 280px;
    width: 26rem;
    border-radius: 1rem;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    transition: all .4s ease;
    align-items: center;
    margin: 1rem;
}

.card-main:hover {
    transform: rotateY(180deg);
}

.front-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    backface-visibility: hidden;
    /* background-image: linear-gradient(to top right, hsl(167, 45%, 59%), rgb(0, 0, 0)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 5px; */
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    border: 1px solid black;
    /* background-image: linear-gradient(to top left,#fff, hsl(167, 45%, 59%));  */
    border-color: #000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

/* .back-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
} */

.front-card img {
    /* margin-bottom: 1.2rem; */
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding-bottom: 8px;
}

.front-card p {
    margin-top: 1rem;
    font-size: .9rem;
    color: #000;
    font-family: "MetricHpe";
}

.front-card h2 {
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: "MetricHpeSemibold";
    /* background-color:hsl(167, 45%, 59%); */
    /* border-radius: 1rem; */
}

.btn {
    margin-top: 1rem;

}

/* a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
} */

.back-light {
    color: #000;
}


/* poc hover card */

.hovercard {
    margin: 0 2rem 0 2rem;
    position: relative;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    /* padding: 30px; */
    transition: .3s;
    background-color: #fff;
    cursor: pointer;
}

.hovercard:hover {
    height: 300px;
    transition: .3s;
}

.hovercard:hover .content {
    transform: translateY(-110px);
    opacity: 1;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

/* .imag {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-80px);
} */

.content {
    transition: .3s;
    transform: translateY(-300px);
    text-align: center;
    opacity: 0;
}

.content h2 {
    margin-bottom: 0.3rem;
    font-family: "MetricHpeSemibold";
    font-size: 1.5rem;
}

.main-div {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color:#f9f7f7;
    margin-bottom:2rem;
}

/* demo section */
.demodiv{
    max-width:100%;
    /* padding-left: 30%; */
    max-height: 800px;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* float: right; */
    margin: 30px;
    
}
.democolumn {
    max-width: 100%;
    background-color: #f2f2f2;
    /* padding: 10px; */
    margin: 5px;
    border-radius: 10px;
    height: 350px;
    position: relative;
    margin-bottom: 1rem;
}


.demoimage {
    width: 100%;
    height: 40%;
}


.slick-slider.slick-initialized {
    width: 100%;
}

.slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.slick-arrow:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.slick-arrow svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

/* .slider-arrows button {
    margin: 0 10px;
} */

/*.slick-arrow.slick-prev {
    left: 10px;
    margin-left: 10px;
    z-index: 1;
}

.slick-arrow.slick-next {
    right: 10px;
    z-index: 1;
} */

/* .slick-arrow.slick-prev:hover {
    background: black;
}

.slick-arrow.slick-next:hover {
    background: black;
} */



.project-hero {
    display: grid;
    gap: 2rem;
    padding-bottom: 2rem;
    margin: 0.8rem;
}

.project-hero-img {
height: 280px;
width: 100%;
border-radius: var(--borderRadius);
}

.project-card {
    width: 300px;
    height: 340px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    flex-direction: column;
}

.project-card-header{
    display: flex;
    justify-content: center;
    background-color: #00b287;
    padding-bottom: 0.7rem;
    z-index: 1;
}

.project-card-infoimg{
        display: inline-block;
        width: 30%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        height: 30%;
}
.project-card-div{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}
.project-card-info {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    height: 30%;
}

.project-card-img{
    width: 50px;
    height: 50px;
}

.project-hero p {
    color: #000;
    font-family: "MetricHpe";
}

.project-hero h5 {
    color: #00000086;
    font-family: "MetricHpebold";
    font-size: 1.5rem;
    margin: 2px;
}
.project-hero h3 {
    color: #00b287;
    font-family: "MetricHpeSemibold";
    font-size: 1.3rem;
}


.project-hero h4 {
    color: #fff;
    font-family: "MetricHpeSemibold";
    font-size: 1.7rem;
}

.project-hero h2 {
    color: #000;
    font-family: "MetricHpeSemibold";
    font-size: 2rem;
}

@media screen and (min-width: 992px) {
    .project-hero {
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
}

.project-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}

@media screen and (min-width: 992px) {
    .project-content {
        grid-template-columns: 2fr 1fr;
    }
}

.single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}

.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
}

.single-instruction header div {
    height: 1px;
    background: var(--grey-500);
}

.second-column {
    display: grid;
    row-gap: 2rem;
}

.single-ingredient {
    border-bottom: 1px solid var(--grey-500);
    padding-bottom: 0.75rem;
}

.single-tool {
    border-bottom: 1px solid var(--grey-500);
    padding-bottom: 0.75rem;
    color: var(--primary-500);
    text-transform: capitalize;
}

.my-rich-text {
    margin-bottom: 20px;
}

.my-list-item {
    display: block;
    /* margin-bottom: 10px; */
    list-style-type:disc;
    font-size: 1rem;
    font-family: "MetricHpe";
}

.project-page {
    width: 92vw;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* hpe approach */

.hpeoutercard {

    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 600px;
    margin-top: 40px;

}

.hpecard {
    display: flex;
    background-color: rgba(255, 255, 255, 0.667);
    width: 400px;
    height: 300px;
    padding: 1%;
    margin-left: 20px;
}

.hpecardcontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.hpesymbol {
    size: 50px;
    padding-left: 33.33%;

}

.hpeheading {
    text-align: center;
    color: rgb(82, 82, 82);


}

.hpeinternal {
    width: 100%;
    align-items: center;
    align-content: center;

}

.hpelist {
    color: rgb(104, 104, 104);
    list-style: circle;
}

.hpeouterheading {
    color: black;
    text-align: center;
    padding-top: 5px;
}